/* Global styles */
@import './styles/global.css';
@import './styles/navbar.css';
@import './styles/components.css';
@import './styles/portfolio.css';
@import './styles/resume.css';
@import './styles/blog.css';
@import './styles/command-palette.css';
@import './styles/konami.css';